# files and dirs to ignore
AUTHORS
build
.clang-format
coverage.info
.directory
examples
.git
.gitignore
.gitmodules
LICENSE
LICENSE_COMPONENTS
papers
README.markdown
scripts
tests
utils
windows
Dockerfile
