[submodule "lib/extlib-abc"]
	path = lib/extlib-abc
	url = https://github.com/stp/abc.git
[submodule "lib/extlib-mimalloc"]
	path = lib/extlib-mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "lib/extlib-symfpu/symfpu"]
	path = lib/extlib-symfpu/symfpu
	url = https://github.com/stp/symfpu.git
[submodule "lib/extlib-cli11"]
	path = lib/extlib-cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/extlib-libbf"]
	path = lib/extlib-libbf
	url = https://github.com/stp/libbf.git
