[submodule "lib/extlib-abc"]
	path = lib/extlib-abc
	url = https://github.com/berkeley-abc/abc.git
[submodule "lib/extlib-mimalloc"]
	path = lib/extlib-mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "lib/extlib-symfpu/symfpu"]
	path = lib/extlib-symfpu/symfpu
	url = https://github.com/martin-cs/symfpu
