[submodule "lib/extlib-abc"]
	path = lib/extlib-abc
	url = https://github.com/stp/abc.git
[submodule "lib/extlib-mimalloc"]
	path = lib/extlib-mimalloc
	url = https://github.com/microsoft/mimalloc.git
